@using Madera.Service
@model MaderaSoft.Models.DTO.AdresseDTO

@using (Html.BeginForm("Edit", "Adresse", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
{
    @Html.HiddenFor(m => m.AdresseID)
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <p>@Html.LabelFor(m => Model.numRue)</p>
                <p>@Html.TextBoxFor(m => Model.numRue, new {placeholder = "Numéro"})</p>
                <i>@Html.ValidationMessageFor(m => Model.numRue)</i>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <p>@Html.LabelFor(m => Model.nomRue)</p>
                <p>@Html.TextBoxFor(m => Model.nomRue, new {placeholder = "Nom"})</p>
                <i>@Html.ValidationMessageFor(m => Model.nomRue)</i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <p>@Html.LabelFor(m => Model.codePostal)</p>
                <p>@Html.TextBoxFor(m => Model.codePostal, new { placeholder = "Code postal" })</p>
                <i>@Html.ValidationMessageFor(m => Model.codePostal)</i>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <p>@Html.LabelFor(m => Model.ville)</p>
                <p>@Html.TextBoxFor(m => Model.ville, new {placeholder = "Ville"})</p>
                <i>@Html.ValidationMessageFor(m => Model.ville)</i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <p>@Html.LabelFor(m => Model.pays)</p>
                <p>@Html.TextBoxFor(m => Model.pays, new {placeholder = "Pays"})</p>
                <i>@Html.ValidationMessageFor(m => Model.pays)</i>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>

    <div class="modal-footer">
        @Html.actionButton(" Annuler", Parametres.TypeBouton.DissmissModal)
        @Html.actionButton(" Valider", Parametres.TypeBouton.Submit)
    </div>
}