@using Madera.Service;
@using MaderaSoft.Models.DTO;
@using MaderaSoft.Areas.GestionStock.Models.ViewModels;

@model CreateStockViewModel


@using (Html.BeginForm("Edit", "Stock", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline", area = "GestionStock" }))
{

    <div class="modal-body">
        @Html.HiddenFor(m => m.composant.id)
        <fieldset>
            <legend>Informations module</legend>
            <div class="form-group-lg">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.composant.libe)
                    @Html.TextBoxFor(m => m.composant.libe)
                    <p class="bg-warning">@Html.ValidationMessageFor(m => m.composant.libe)</p>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.composant.gamme)
                    @Html.DropDownListFor(m => m.composant.gamme, Model.lesGammes)
                </div>
            </div>
            </fieldset>
            <fieldset>
                <legend>Caractéristiques module</legend>
                 <div class="form-group-lg">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.composant.prixHT)
                        @Html.TextBoxFor(m => m.composant.prixHT)
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.composant.qteStock)
                        @Html.TextBoxFor(m => m.composant.qteStock)
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.composant.fournisseur)
                        @Html.TextBoxFor(m => m.composant.fournisseur.nom)
                    </div>
                  </div>

            </fieldset>
</div>
    <div class="modal-footer">
        @Html.actionButton(" Annuler", Parametres.TypeBouton.DissmissModal)
        @Html.actionButton(" Valider", Parametres.TypeBouton.Submit)
    </div>
}



