
@using MaderaSoft.Models.ViewModel
@using Madera.Service
@model BootstrapTableViewModel

@if (Model.lesLignes.Count == 0)
{
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <p class="bg-warning">@Model.messageSiVide</p>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                @for (int i = 0; i < Model.lesLignes[0].Count; i++)
                                {
                                    @Html.Raw(String.Format("<th>" + Model.lesLignes[0][i] + "</th>"));
                                }
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int nbColonne = Model.lesLignes[0].Count;

                                if (Model.avecActionCrud)
                                {
                                    nbColonne -= 1;
                                }

                            }
                            @for (int j = 1; j < Model.lesLignes.Count; j++)
                            {
                                @Html.Raw("<tr>");
                                for (int k = 0; k < nbColonne; k++)
                                {
                                    if (Model.lesLignes[j][k].GetType() == typeof (string))
                                    {
                                        @Html.Raw(String.Format("<td class=\"table-text\">" + Model.lesLignes[j][k]) + "</td>");
                                    }
                                    else if (Model.lesLignes[j][k].GetType() == typeof(BootstrapButtonViewModel))
                                    {
                                        @Html.Raw("<td class=\"table-text\">");
                                        BootstrapButtonViewModel b = (BootstrapButtonViewModel)Model.lesLignes[j][k];
                                        if (string.IsNullOrEmpty(b.tooltip))
                                        {
                                            @Html.actionButton(b.libe, b.typeDeBouton, b.href, b.cssClass)
                                        }
                                        else
                                        {
                                            @Html.actionButton(b.libe, b.typeDeBouton, b.href, b.cssClass, b.tooltip)
                                        }
                                        @Html.Raw("</td>");
                                    }

                                }

                                if (Model.avecActionCrud)
                                {
                                    @Html.Raw("<td class=\"table-text\">");

                                    if (DroitHelper.Droit.utilisateurPeutModifierSurCeService())
                                    {
                                        @Html.actionButton(" Modifier", Parametres.TypeBouton.Modification, Url.Action("EditModal", Model.typeObjet, new { id = Model.lesLignes[j][nbColonne], area = string.Empty }, null).ToString(), "editModal")
                                    }

                                    if (DroitHelper.Droit.utilisateurPeutSupprimerSurCeService())
                                    {
                                        @Html.actionButton(" Supprimer", Parametres.TypeBouton.Suppression, Url.Action("DeleteModal", Model.typeObjet, new { id = Model.lesLignes[j][nbColonne], area = string.Empty }, null).ToString(), "editModal")
                                    }



                                    @Html.Raw("</td>");
                                }

                                @Html.Raw("</tr>");

                            }


                        </tbody>
                    </table>
                    </div>
                </div>
           </div>
 </div>

}
