
@using MaderaSoft.Models
@using Madera.Service
@model MaderaSoft.Models.Bootstrap.BootstrapTableModel
    
<table class="table table-hover">
    <thead>
    <tr>
        @for (int i = 0; i < Model.lesLignes[0].Count; i++)
        {
            @Html.Raw(String.Format("<th>" + Model.lesLignes[0][i] + "</th>"));
        }
    </tr>
    </thead>
    <tbody>

    @{
        int nbColonne = Model.lesLignes[0].Count;

        if (Model.avecActionCrud)
        {
            nbColonne -= 1;
        }

    }
    @for (int j = 1; j < Model.lesLignes.Count; j++)
    {
        @Html.Raw("<tr>");
        for (int k = 0; k < nbColonne; k++)
        {
            @Html.Raw(String.Format("<td class=\"table-text\">" + Model.lesLignes[j][k]) + "</td>");
        }

        if (Model.avecActionCrud)
        {
            @Html.Raw("<td class=\"table-text\">");
            @Html.actionButton(" Modifier", Parametres.TypeBouton.Modification, Url.Action("EditModal",Model.typeObjet, new { id = Model.lesLignes[j][nbColonne] }).ToString(), "editModal")
            @Html.actionButton(" Supprimer", Parametres.TypeBouton.Suppression, Url.Action("DeleteModal",Model.typeObjet, new { id = Model.lesLignes[j][nbColonne] }).ToString(), "editModal")      
            @Html.Raw("</td>");
        }

        @Html.Raw("</tr>");

    }

   
    </tbody>
</table>